/*------------------------------------------------------------------
    10 Site Layout
*/

/* [10.1 Skill Area] */
.skill_area > .container {
    margin-bottom: -25px;
}
.skill_content > h2.headline {
    font-size: 28px;
    font-weight: 700;
    margin: -5px 0 23px;
    text-transform: capitalize;
}
.single_skill {
    margin-bottom: 15px;
    &:last-child {
        padding-bottom: 0px;
    }
    h3 {
        color: #303030;
        font-size: 14px;
        margin: 0 0 10px;
        position: relative;
        > span {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .progress_bar {
        background-color: #ccc;
        box-shadow: 0 0 0;
        height: 2px;
        margin: 0 0 20px;
        position: relative;
        width: 100%;
        > span {
            background-color: #333;
            display: block;
            height: 100%;
            width: 0;
        }
    }
}


/* [10.2 FanFact Area] */
.fanfact_area {
    background-attachment: fixed;
}
.single-fanfact {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    > span {
        display: block;
        position: relative;
        margin-bottom: 15px;
        line-height: 40px;
        &:before {
            font-size: 40px;
        }
    }
    .counter {
        color: inherit;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 2px;
    }
    > p {
        font-size: 18px;
        text-transform: capitalize;
    }
}

.single_contact_info {
    background-color: #fff;
    box-shadow: 0 0 18px rgba(69, 39, 160, 0.1);
    padding: 40px 20px 35px;
    position: relative;
    overflow: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    > .icon {
        background-color: #333;
        border-radius: 50%;
        display: block;
        height: 50px;
        margin-right: 15px;
        text-align: center;
        width: 50px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
        &:before {
            color: #fff;
            font-size: 22px;
            line-height: 50px;
        }
    }
    &:hover > .icon {
        background-color: #000;
    }
    .info {
        text-align: left;
        -webkit-box-flex: 1;
            -ms-flex: 1;
                flex: 1;
        > p {
            line-height: 25px;
            margin-bottom: 0;
            a:hover {
                color: #000;
            }
        }
    }
}


/* [10.3 Contact Form Area] */
.contact_form_area {
    min-height: 550px;
    .container > .row {
        margin: 0;
    }
    div[class^="col-"] {
        padding: 0;
    }
    .contact_form {
        padding-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        min-height: 550px;
        > .row {
            margin: 0;
        }
    }
}

/* [10.4 Google Map] */
.gmap_area {
    float: left;
    width: 50%;
}
#gmap {
    height: 550px;
}

/* [10.5 Different Version Style] */
.angle_style {
    bottom: -8px;
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    > svg {
        width: 101%;
        fill: #fff;
    }  
}
.angle_style_two {
    position: relative;
    overflow: hidden;
    &:after {
        background-image: url("images/angle.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 140px;
        width: 110%;
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
    }
}

#particles-js {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 1320px) {
    .angle_style_two:after {
        height: 100px;
    }
}

@media only screen and (max-width: 1199px) {
    .single_contact_info {
        padding: 40px 15px 35px;
    }
    .angle_style_two:after {
        height: 85px;
    }
}

@media only screen and (max-width: 991px) {
    .skill_content {
        margin-bottom: 30px;
    }
    .contact_area > .container {
        margin-bottom: -30px;
    }
    .single_contact_info {
        margin-bottom: 30px;
    }
    .fanfact_area > .container {
        margin-bottom: -50px;
    }
    .single-fanfact {
        margin-bottom: 50px;
        > span {
            margin-bottom: 10px;
        }
    }
    .angle_style_two::after {
        height: 65px;
    }
}

@media only screen and (max-width: 767px) {
    .skill_content > h2.headline {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .single-fanfact {
        .counter {
            font-size: 34px;
        }
        > p {
            font-size: 16px;
        }
    }
    .gmap_area {
        display: none;
    }
    .contact_form_area {
        min-height: auto;
        .contact_form {
            min-height: auto;
            padding-left: 0;
            padding: 80px 0 85px;
        }
    }
    .angle_style_two::after {
        height: 55px;
    }
}

@media only screen and (max-width: 575px) {
    .single-fanfact {
        > span {
            line-height: 32px;
            margin-bottom: 5px;
            &:before {
                font-size: 32px;
            }
        }
        .counter {
            font-size: 28px;
        }
    }
    .single_contact_info {
        padding: 30px 15px 25px;
        > .icon {
            height: 45px;
            margin-right: 10px;
            width: 45px;
            &:before {
                font-size: 18px;
                line-height: 45px;
            }
        }
    }
    .angle_style_two::after {
        height: 40px;
    }
}
@media only screen and (max-width: 450px) { 
    .angle_style_two::after {
        height: 30px;
    }
}
