/*------------------------------------------------------------------
    08 Portfolio Section
*/

.work_area {
    .container {
        margin-bottom: -37px;
    }
    .section_title_area {
        padding-bottom: 55px;
    }
}

/* [8.1 Portfolio Navigation] */
.portfolio_work_nav {
    list-style: outside none none;
    margin-bottom: 40px;
    padding-left: 0;
    > li {
        display: inline-block;
        margin-right: 25px;
        > a {
            color: #303030;
            display: inline-block;
            font-size: 15px;
            font-weight: 700;
            position: relative;
            text-transform: capitalize;
            &:before {
                background-color: #4f4f4f;
                bottom: -1px;
                content: "";
                height: 2px;
                left: 0;
                position: absolute;
                width: 0%;
                -webkit-transition: all 0.25s;
                transition: all 0.25s;
            }
            &.active:before,
            &:hover:before {
                width: 100%;
            }
        }
    }
}

/* [8.2 Singel Work] */
.single_work {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: relative;
    min-height: 150px;
    overflow: hidden;
    margin-bottom: 30px;
    display: inline-block;
    .work_thumb {
        overflow: hidden;
        display: block;
        > img {
            -webkit-transition: all 0.35s ease 0s;
            transition: all 0.35s ease 0s;
        }
    }
    .overlay_icon {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-transition: all 0.35s ease 0s;
        transition: all 0.35s ease 0s;
        height: calc(100% - 20px);
        left: 10px;
        position: absolute;
        top: 10px;
        width: calc(100% - 20px);
        > .fa {
            background-color: #fff;
            border-radius: 50%;
            color: #000;
            font-size: 15px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            width: 45px;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            position: absolute;
            top: calc(20% - 45px);
            left: calc(50% - 22px);
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
    }
    .work_info {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        bottom: 0px;
        color: #fff;
        left: 0;
        padding: 25px 30px;
        position: absolute;
        width: 100%;
        text-align: left;
        > h3 {
            color: inherit;
            font-size: 20px;
            font-weight: 600;
            margin: 0px 0 10px;
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
        > p {
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
            margin: 30px 0;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        }
    }
    &:hover {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
        .work_thumb > img {
            opacity: 0.9;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
            -webkit-transform: scale(1.1);
                    transform: scale(1.1);
        }
        .overlay_icon {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            background-color: rgba(0, 0, 0, 0.6);
            > .fa {
                top: calc(50% - 40px);
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
        }
        .work_info {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            > h3 {
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
            > p {
                margin: 0px;
                opacity: 1;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .work_area .section_title_area {
        padding-bottom: 40px;
    }
    #masonry > .grid {
        text-align: center;
    }
}


@media only screen and (max-width: 450px) { 
    .portfolio_work_nav {
        margin-bottom: 30px;
        > li {
            margin-right: 20px;
            margin-bottom: 5px;
            > a {
                font-size: 13px;
            }
        }
    }
}