/*------------------------------------------------------------------
    12 RTL Css
*/

html[dir="rtl"] {
    #navbar-main,
    div[class^=col-],
    p {
        direction:rtl;
    }
    
    .skill_content,
    .about_info,
    .single_skill h3,
    .portfolio_work_nav,
    .single_contact_info .info,
    .headline,
    .slingle_client > .client_body,
    .single_work .work_info {
        text-align: right;
    }
    
    div[class^=col-],
    .about_info .info_list > li > strong,
    .about_info .info_list > li,
    .single_contact_info > .icon,
    .gmap_area {
        float: right;
    }
    
    .testimonial_carousel.owl-carousel .owl-stage {
        float: left !important;
    }
    
    
    .site_logo,
    .single_contact_info > .icon {
        margin-right: 0;
        margin-left: 15px;
    }
    
    .cd-headline.clip .cd-words-wrapper::after {
        left: 0;
        right: auto;
    }
    .scroll_down {
        left: -30px;
        right: auto; 
    }
    .header_social_share {
        left: auto;
        right: 30px;
    }
    .about_thumb {
        margin-right: 0;
        margin-left: 20px;
    }
    .about_info .info_list,
    .portfolio_work_nav,
    .footer_social_share {
        padding-right: 0;
    }
    #section_scroller_button {
        left: 20px;
        right: auto;
    }
    .single_skill h3 > span {
        right: auto;
        left: 0;
    }
    .portfolio_work_nav > li {
        margin-left: 20px;
        margin-right: 0;
    }
    .pr-15 {
        padding-right: 0px !important;
        padding-left: 15px !important;
    }
    
    .contact_form_area .contact_form {
        padding-left: 0px;
        padding-right: 30px;
    }
    .slingle_client .client_header {
        left: auto;
        right: 70px;
    }
}

@media only screen and (max-width: 1199px) {
    html[dir="rtl"] {
        .about_thumb {
            margin-left: 5px;
        }
        .pr-15 {
            padding-left: 0px !important;
        }
        .navigation_area > .mainmenu_area .mainmenu {
            text-align: right;
            > li > a::before {
                left: auto;
                right: 0;
            }
        }
        .header_social_share {
            right: 20px;
        }
        .scroll_down {
            left: -40px;
        }
    }
}

@media only screen and (max-width: 991px) {
    html[dir="rtl"] {
        .header_social_share {
            right: 20px;
        }
        .scroll_down {
            left: -40px;
        }
        .contact_form_area .contact_form {
            padding-right: 0px;
        }
    }
}
@media only screen and (max-width: 450px) {
    html[dir="rtl"] {
        .slingle_client .client_header {
            left: auto;
            right: 25px;
        }
        .portfolio_work_nav > li {
            margin-left: 20px;
        }
    }
}
