/*------------------------------------------------------------------
    07 Services Section
*/

.services_area > .container {
    margin-bottom: -30px;
}
.single_service {
    background-color: #fff;
    position: relative;
    margin-bottom: 30px;
    .icon {
        margin: 15px 0 20px;
        > span:before {
            color: #6f6f6f;
            font-size: 34px;
            margin-left: 0;
        }
    }
    .single_service_inner {
        padding: 35px 20px;
        position: relative;
        z-index: 10;
        > h3 {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 15px;
        }
    }
}
.single_service > .divider {
    position: absolute;
    overflow: hidden;
    &:before {
        position: absolute;
        content: "";
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }
    &.divider_1 {
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 2;
        &:before {
            border: 2px solid rgba(0,0,0,0.075);
        }
        > span {
            border: 2px solid rgba(0,0,0,0.075);
            z-index: 2;
            &:nth-child(1),
            &:nth-child(3) {
                left: -15px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                top: -15px;
            }
            &:nth-child(2),
            &:nth-child(4) {
                right: -15px;
            }
            &:nth-child(3), 
            &:nth-child(4) {
                bottom: -15px;
            }
        }
    }
    &.divider_2 {
        width: calc(100% - 14px);
        top: 7px;
        left: 7px;
        height: calc(100% - 14px);
        &:before {
            border: 1px solid rgba(0,0,0,0.075);
        }
        > span {
            border: 1px solid rgba(0,0,0,0.075);
            z-index: 1;
            &:nth-child(1),
            &:nth-child(3) {
                left: -17px;
            }
            &:nth-child(1),
            &:nth-child(2) {
                top: -17px;
            }
            &:nth-child(2),
            &:nth-child(4) {
                right: -17px;
            }
            &:nth-child(3), 
            &:nth-child(4) {
                bottom: -17px;
            }
        }
    }
    > span {
        border-radius: 50%;
        height: 30px;
        position: absolute;
        background-color: #fff;
        width: 30px;
    }
}
@media only screen and (max-width: 1199px) {
    .single_service .single_service_inner {
        padding: 25px 15px 30px;
    }
}
@media only screen and (max-width: 991px) {
    .single_service .single_service_inner {
        padding: 35px 20px;
        > h3 {
            font-size: 18px;
        }
    }
}
@media only screen and (max-width: 767px) { 
    .single_service .single_service_inner {
        padding: 35px 30px;
    }
}
@media only screen and (max-width: 450px) { 
    .single_service .single_service_inner {
        padding: 35px 15px;
    }
}